body {
    margin: 0;
    background-color: whitesmoke;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    min-width: 350px;
    max-width: 350px;
    border-radius: 12px;
    box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.6);
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 12px 12px 0 0;
}

.display h2 {
    margin: 0;
    padding: 25px 8px;
    font-family: 'Lucida Console', sans-serif;
    font-size: 32px;
    font-weight: 100;
    overflow: auto;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    padding: 8px;
}

button {
    font-weight: 100;
    font-size: 30px;
    min-height: 50px;
    background-color: rgb(200, 200, 200);
    outline: none;
    border: none;
    border-radius: 8px;
}

button:hover {
    filter: brightness(90%);
}

button:active {
    transform: translateY(1px);
}

.operator {
    background-color: gray;
    color: white;
}

.clear-btn {
    background-color: red;
    color: white;
}

.equal-btn {
    background-color: rgb(0, 211, 0);
    color: white;
    grid-column: -2;
    grid-row: 2 / span 4;
}

/* width */
::-webkit-scrollbar {
    height: 10px;
  }

    /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


@media screen and (max-width: 600px) {
    .container {
        width: 80%;
    }
}
